/* Reset Style ---*/
div ul.ja-k2filter li {
	background: none;
	margin-bottom: 5px;
	overflow: visible;
	padding: 0;
}

/* Layout style ---*/
ul.ja-k2filter li input[type=radio],
ul.ja-k2filter li input[type=checkbox]{
	float: left;
	margin: 3px 5px 0 0;
}

ul.ja-k2filter li label {
	margin-bottom: 10px;
}

input:focus,
textarea:focus {
	background: #fff;
	border-color: rgba(82,168,236,0.8);
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

/* Check box */
input[type=checkbox],
label.lb-checkbox {
	background: none;
	border: 0;
	display: inline-block;
	height: auto;
	margin: 0 0 10px;
	padding: 0;
	vertical-align: middle;
}

/* Radio */
input[type=radio],
label.radiobtn {
	background: none;
	border: 0;
	display: inline-block;
	margin: 0 0 10px;
	padding: 0;
	vertical-align: middle;
}

label.lb-checkbox {
	margin-right: 10px;
	min-height: 0;
}

select:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.ja-k2filter .btn {
	display: inline-block;
	*display: inline;
	padding: 4px 12px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
	*line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
	*border: 0;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	*zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ja-k2filter .btn:active,
.ja-k2filter .btn:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
	/* Buttons in IE7 don't get borders, so darken on hover */

	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.ja-k2filter input[type=text],
.ja-k2filter select,
.ja-k2filter textarea {
	background-color: #fff;
	border: 1px solid #ccc;
	color: #666;
	display: inline-block;
	height: 20px;
	font-family: sans-serif;
	font-size: 14px;
	height: 30px;
	margin-bottom: 9px;
	min-width: 99%;
	min-width: 90\%; /* Fix for IE8 */
	padding: 4px 6px;
	line-height: 30px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* Date */
ul.ja-k2filter li p {
	display: block;
	margin: 0;
	position: relative;
}

ul.ja-k2filter li p img {
	display: inline !important;
}

ul.ja-k2filter li p input.date {
	margin-right: 5px;
	min-width: 0;
	vertical-align: middle;
}

/* Magic select ---*/
.ja-k2filter .ja-magic-select {
	background: #fdfbe4;
	border-radius: 2px;
	border: 1px solid #cdc4a8;
	display: none;
	margin-bottom: 5px;
	padding: 10px;
	position: relative;
	width: 90%;
	box-shadow: 0 0 3px rgba(0,0,0,.1);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.ja-k2filter .ja-magic-select ul {
	margin: 0;
	overflow: hidden;
}

.ja-k2filter .ja-magic-select .arrow {
	background: url(arrow.png) no-repeat left top;
	display: block;
	position: absolute;
	top: -12px;
	left: 10px;
	width: 14px;
	height: 12px;
}

.ja-k2filter .ja-magic-select .btn-close {
	background: url(btn-close.png) no-repeat center center #ccc;
	border: 1px solid #999;
	border-radius: 3px;
	display: block;
	height: 12px;
	position: absolute;
	right: 8px;
	top: 8px;
	text-indent: -999em;
	width: 12px;
}

.ja-k2filter .ja-magic-select .btn-close:hover {
	background-color: #690;
	border-color: #690;
	cursor: pointer;
}

.ja-k2filter .ja-magic-select ul li {
	background: url(icon-none.png) no-repeat 0 0;
	color: #666;
	display: block;
	font-size: 11px;
	font-weight: bold;
	padding-left: 20px;
	text-shadow: 1px 1px 0 #fff;
}

ul.ja-k2filter li.magic-select {
	margin-bottom: 10px;
	overflow: hidden;
}

.ja-k2filter .ja-magic-select ul li:hover {
	cursor: pointer;
	color: #690;
}

.ja-k2filter .ja-magic-select li.selected {
	background: url(icon-check.png) no-repeat 0 0;
	color: #690;
}

.ja-k2filter .ja-magic-select-container {
}

/* Horizontal layout ---*/
div ul.horizontal-layout li {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	padding: 0px 10px;
	position: relative;
}

ul.horizontal-layout li input.btn {
	float: left !important;
	min-width: 100px;
}

ul.horizontal-layout li:last-child,
ul.horizontal-layout li.last-item {
	width: 100% !important;
}

ul.ja-k2filter {
	display: block;
	padding: 0 3px !important;
	list-style: none;
}

ul.ja-k2filter div.ja-magic-select ul li {
	background-position: 0 0 !important;
	float: none;
	padding-left: 20px !important;
}

ul.ja-k2filter .ja-magic-select-container span {
	background: #FFFFFF;
	border: 1px solid #E1E1E8;
	border-radius: 3px;
	color: #666;
	display: block;
	float: left;
	font-size: 11px;
	margin: 2px 4px 2px 0;
	padding: 0px 20px 0px 5px;
	position: relative;
	white-space: nowrap;
}

ul.ja-k2filter .ja-magic-select-container span:hover {
	border-color: #999;
}

ul.ja-k2filter .ja-magic-select-container span span.remove {
	background: url(remove-gray.png) no-repeat right center;
	border: 0;
	cursor: pointer;
	height: 10px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 10px;
}

ul.ja-k2filter .ja-magic-select-container span.remove:hover {
	background-image: url(remove.png);
}

ul.ja-k2filter label button.select {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #690;
	font-size: 11px;
	display: inline-block;
	margin-left: 5px;
	padding: 3px 5px;
	overflow: hidden;
	vertical-align: middle;
}

ul.ja-k2filter label button.select:hover,
ul.ja-k2filter label button.select:focus,
ul.ja-k2filter label button.select:active {
	background: #6d9f09;
	border-color: #690;
	color: #fff;
	text-decoration: none;
}

ul.ja-k2filter label button.select.opened {
	background: #fff;
	border-color: #ddd;
	color: #ccc;
}

/* Vertical layout */
ul.vertical-layout li {
	display: block;
	clear: both;
	position: relative;
}

ul.vertical-layout li label.group-label {
	position: relative;
}

/* All form elements ---*/
.ja-k2filter label {
	display: block;
	font-size: 13px;
	line-height: 1;
}

.ja-k2filter label.group-label {
	font-weight: bold;
}

.ja-k2filter select.multiple {
	height: auto;
}