@charset "UTF-8";

.news {
    display: block;
    margin-top: 450px;
}

.menutop ul {
    display: block;
    text-align: right;

    background: #f2f4f2; /* Цвет фона */
}
.menutop  ul li {
    display: inline;
    margin: 0 !important;
    padding: 0;
    background-position:right;
}


.menutop ul li a:link{
    font-family:Arial, Tahoma, Geneva, sans-serif;
    font-size:18px;
    font-weight:normal;
    color: #a2d3fc;
    padding:0px 15px;
    text-decoration:none;
    display: inline;
}

#header h1 {
    position:absolute;
    width:111px;
    height:100px;
    background:url("../images/logo.jpg") no-repeat;
    margin-top: -20px;
    margin-left: -10px;
}
#header h1 a {
    display:block;
    width:111px;
    height:100px;
    text-indent:-2000px;
}

.text {
position: absolute; /* Абсолютное позиционирование */
left: 26%; /* Положение слоя от левого края */
top: 40%; /* Положение слоя от верхнего края */
margin-left: -130px; /* Отступ слева */
margin-right: 20px; /* Отступ слева */
margin-top: -200px;	/* Отступ сверху */
padding: 10px; /* Поля вокруг текста */
overflow: auto; /* Добавление полосы прокрутки */
}

.slider  {
    position: absolute;
    left: 20%; /* Положение слоя от левого края */
    top: 40%; /* Положение слоя от верхнего края */
;

}