@charset "UTF-8";

.news {
    display: block;
    margin-top: 450px;
}


.menutop ul {
    display: block;
    text-align: right;
    background: #eeeeee;
}

.menutop  ul li {
    display: inline;
    margin: 0 !important;
    padding: 0;
    background-position:right;
}

.menutop ul li a:link{
    font-family:Arial, Tahoma, Geneva, sans-serif;
    font-size:18px;
    font-weight:normal;
    color: #5c5c5c;
    padding:0px 15px;
    text-decoration:none;
    display: inline;
}

.menutop a:visited {
    color:#499cbb;
}


#header h1 {
    position:absolute;
    width:111px;
    height:100px;
    background:url("../images/logo.jpg") no-repeat;
    margin-top: -20px;
    margin-left: -10px;
}
#header h1 a {
    display:block;
    width:111px;
    height:100px;
    text-indent:-2000px;
}

.text {
position: absolute;
left: 26%;
top: 40%;
margin-left: -130px;
margin-right: 20px;
margin-top: -200px;
padding: 10px;
overflow: auto;
}

.slider  {
    position: absolute;
    left: 20%;
    top: 40%;
}

.footer ul {
    display: block;
    text-align: right;
    background: #383838;
}

.footer  ul li {
    display: inline;
    margin: 0 !important;
    padding: 0;
    background-position:right;
}

.footer ul li a:link{
    font-family:Arial, Tahoma, Geneva, sans-serif;
    font-size:14px;
    font-weight:normal;
    color: #e2e2e2;
    padding:0px 15px;
    text-decoration:none;
    display: inline;
}

.footer a:visited {
    color:#e2e2e2;
}
